body {
	background-color: #f1f1f1;
}

#content, #slider-button {
	position: absolute;
}

#content {
	top: 256px;
	left: 50%;
	width: 640px;
	height: 256px;
	margin-left: -320px;
}

#header {
	margin-bottom: 24px;
}

#cast {
	margin-top: -2px;
}

#urlForm {
	margin-bottom: 18px;
}

#slider-button {
	top: 150px;
	left: 370px;
	width: 24px;
	height: 24px;
}